@import './variables.scss';
// Bootstrap and its default variables
@import "node_modules/bootstrap/scss/bootstrap";

body {
  margin: 0;
  height: 100vh;
  .root{
    height: 100%;
  }
}

@font-face {
  font-family: 'FG_Virgil';
  src: local('FG_Virgil'),
    url('../fonts/FG_Virgil.woff2') format('woff2'),
    url('../fonts/FG_Virgil.ttf') format('truetype'),
    url('../fonts/FG_Virgil.otf') format('opentype');
}

@font-face {
  font-family: 'NanumPenScript-Regular';
  src: local('NanumPenScript-Regular'),
    url(../fonts/NanumPenScript-Regular.ttf) format('truetype');
}

// Primary site-theme colors
.color-p {
  color: $c-primary !important;
}
.color-s {
  color: $c-secondary !important;
}
.color-t {
  color: $c-ternary !important;
}
.color-q {
  color: $c-quaternary !important;
}
.color-a {
  color: $c-alternate !important;
}
// Additional colors pastel and bright
.color-lgreen {
  color: $c-lgreen !important;
}
.color-green {
  color: $c-green !important;
}
.color-lred {
  color: $c-lred !important;
}
.color-red {
  color: $c-red !important;
}
.color-lyellow {
  color: $c-lyellow !important;
}
.color-yellow {
  color: $c-yellow !important;
}
.color-lorange {
  color: $c-lorange !important;
}
.color-orange {
  color: $c-orange !important;
}
.color-lteal {
  color: $c-lteal !important;
}
.color-teal {
  color: $c-teal !important;
}
.color-lblue {
  color: $c-lblue !important;
}
.color-blue {
  color: $c-blue !important;
}
.color-lpurple {
  color: $c-lpurple !important;
}
.color-purple {
  color: $c-purple !important;
}
.color-lg {
  color: $c-lgray !important;
}
.color-g {
  color: $c-gray !important;
}
.color-b {
  color: $c-black !important;
}
.color-w {
  color: $c-white !important;
}
// All the same colors for backgrounds
.bg-p {
  background-color: $c-primary !important;
}
.bg-s {
  background-color: $c-secondary !important;
}
.bg-t {
  background-color: $c-ternary !important;
}
.bg-q {
  background-color: $c-quaternary !important;
}
.bg-a {
  background-color: $c-alternate !important;
}
.bg-lgreen {
  background-color: $c-lgreen !important;
}
.bg-green {
  background-color: $c-green !important;
}
.bg-lred {
  background-color: $c-lred !important;
}
.bg-red {
  background-color: $c-red !important;
}
.bg-lyellow {
  background-color: $c-lyellow !important;
}
.bg-yellow {
  background-color: $c-yellow !important;
}
.bg-lorange {
  background-color: $c-lorange !important;
}
.bg-orange {
  background-color: $c-orange !important;
}
.bg-lteal {
  background-color: $c-lteal !important;
}
.bg-teal {
  background-color: $c-teal !important;
}
.bg-lblue {
  background-color: $c-lblue !important;
}
.bg-blue {
  background-color: $c-blue !important;
}
.bg-lpurple {
  background-color: $c-lpurple !important;
}
.bg-purple {
  background-color: $c-purple !important;
}
.bg-g {
  background-color: $c-gray !important;
}
.bg-lg {
  background-color: $c-lgray !important;
}
.bg-tlg {
  background-color: $c-t-lgray !important;
}
.bg-b {
  background-color: $c-black !important;
}
.bg-w {
  background-color: $c-white !important;
}


// @include button-variant($background, $border, $hover-background: darken($background, 7.5%), $hover-border: darken($border, 10%), $active-background: darken($background, 10%), $active-border: darken($border, 12.5%))
// @include button-outline-variant($color, $color-hover: color-yiq($color), $active-background: $color, $active-border: $color)
// Button sizes
// @include button-size($padding-y, $padding-x, $font-size, $line-height, $border-radius)
.btn-prime {
  @include button-variant($c-primary, white, scale-color($color: $c-primary, $lightness: -10%));
  color: $c-white;
}
.btn-ternary {
  @include button-variant($c-ternary, white, scale-color($color: $c-ternary, $lightness: -10%));
  color: $c-white;
}
.btn-quaternary {
  @include button-variant($c-quaternary, white, scale-color($color: $c-quaternary, $lightness: -10%));
}

.btn-alternate {
  @include button-variant($c-alternate, white, scale-color($color: $c-alternate, $lightness: -10%));
}

.btn-lgreen {
  @include button-variant($c-lgreen, white, scale-color($color: $c-lgreen, $lightness: -10%));
}
.btn-green {
  @include button-variant($c-green, $c-green, scale-color($color: $c-green, $lightness: -10%));
}
.btn-lred {
  @include button-variant($c-lred, white, scale-color($color: $c-lred, $lightness: -10%));
}
.btn-red {
  @include button-variant($c-red, white, scale-color($color: $c-red, $lightness: -10%));
}
.btn-lyellow {
  @include button-variant($c-lyellow, white, scale-color($color: $c-lyellow, $lightness: -10%));
}
.btn-yellow {
  @include button-variant($c-yellow, white, scale-color($color: $c-teal, $lightness: -10%));
}
.btn-lorange {
  @include button-variant($c-lorange, white, scale-color($color: $c-lorange, $lightness: -10%));
}
.btn-orange {
  @include button-variant($c-orange, white, scale-color($color: $c-orange, $lightness: -10%));
}
.btn-lteal {
  @include button-variant($c-lteal, white, scale-color($color: $c-lteal, $lightness: -10%));
}
.btn-teal {
  @include button-variant($c-teal, white, scale-color($color: $c-teal, $lightness: -10%));
}
.btn-lblue {
  @include button-variant($c-lblue, white, scale-color($color: $c-lblue, $lightness: -10%));
}
.btn-blue {
  @include button-variant($c-blue, white, scale-color($color: $c-blue, $lightness: -10%));
}
.btn-lpurple {
  @include button-variant($c-lpurple, white, scale-color($color: $c-lpurple, $lightness: -10%));
}
.btn-purple {
  @include button-variant($c-purple, white, scale-color($color: $c-purple, $lightness: -10%));
}
