@import './variables.scss';
// Bootstrap and its default variables
@import "node_modules/bootstrap/scss/bootstrap";

body {
  margin: 0;
}

.color-p {
  color: $c-primary !important;
}
.color-s {
  color: $c-secondary !important;
}
.color-t {
  color: $c-ternary !important;
}
.color-q {
  color: $c-quaternary !important;
}
.color-a {
  color: $c-alternate !important;
}
.color-g {
  color: $c-gray !important;
}
.color-lblue {
  color: $c-lblue !important;
}
.color-blue {
  color: $c-blue !important;
}
.color-lpurple {
  color: $c-lpurple !important;
}
.color-purple {
  color: $c-purple !important;
}
.color-b {
  color: $c-black !important;
}
.color-w {
  color: $c-white !important;
}

.bg-p {
  background-color: $c-primary !important;
}
.bg-s {
  background-color: $c-secondary !important;
}
.bg-t {
  background-color: $c-ternary !important;
}
.bg-q {
  background-color: $c-quaternary !important;
}
.bg-a {
  background-color: $c-alternate !important;
}
.bg-g {
  background-color: $c-gray !important;
}
.bg-lblue {
  background-color: $c-lblue !important;
}
.bg-blue {
  background-color: $c-blue !important;
}
.bg-lpurple {
  background-color: $c-lpurple !important;
}
.bg-purp {
  background-color: $c-purple !important;
}
.bg-b {
  background-color: $c-black !important;
}
.bg-w {
  background-color: $c-white !important;
}


// @include button-variant($background, $border, $hover-background: darken($background, 7.5%), $hover-border: darken($border, 10%), $active-background: darken($background, 10%), $active-border: darken($border, 12.5%))
// @include button-outline-variant($color, $color-hover: color-yiq($color), $active-background: $color, $active-border: $color)
// Button sizes
// @include button-size($padding-y, $padding-x, $font-size, $line-height, $border-radius)
.btn-prime {
  @include button-variant($c-primary, white, scale-color($color: $c-primary, $lightness: -10%));
  color: $c-white;
}
.btn-ternary {
  @include button-variant($c-ternary, white, scale-color($color: $c-ternary, $lightness: -10%));
  color: $c-white;
}
.btn-quaternary {
  @include button-variant($c-quaternary, white, scale-color($color: $c-quaternary, $lightness: -10%));
}

.btn-alternate {
  @include button-variant($c-alternate, white, scale-color($color: $c-alternate, $lightness: -10%));
}

.btn-lblue {
  @include button-variant($c-lblue, white, scale-color($color: $c-lblue, $lightness: -10%));
}

.btn-blue {
  @include button-variant($c-blue, white, scale-color($color: $c-blue, $lightness: -10%));
}

.btn-lpurple {
  @include button-variant($c-lpurple, white, scale-color($color: $c-lpurple, $lightness: -10%));
}
.btn-purple {
  @include button-variant($c-purple, white, scale-color($color: $c-purple, $lightness: -10%));
}
