@import './base.scss';

// @import '../fonts/FG_Virgil.ttf';
// @import '../fonts/FG_Virgil.otf';

html {
  font-family: 'Muli', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif
}

.howto {
  font-family: font-awesome; 
  font-size: 22px;
  text-transform: Uppercase;
}

.dish-page{
  color: $c-lblack;
  padding-bottom: 15px;
  max-width: 700px;
  margin: auto;
  
  .thumbnail-section{
    border-top-left-radius: 4px;
    border-top-right-radius: 4px;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    margin-bottom: 15px;
    .thumb {
      width: 100px;
      height: 100px;
      margin: 0 5px;
    }
    .thumb-caption{
      font-size: 1.2rem;
      position: relative;
      z-index: 2;
      color: $c-white;
      text-shadow: 1px 1px $c-black;
      overflow: visible;
      display: block;
      width: 270px;
      text-align: center;
      transform: translateX(-85px);
    }
    .img-thumbnail{
      background-color: $c-lblue;
      cursor: pointer;
      position: relative;
    }
    // .img-collapse {
    //   display: inline-block;
    // }
    .img-expand {
      transform: scale(3);
      z-index: 1;
    }    
  }

  .dish-body{
    border-top-left-radius: 4px;
    border-top-right-radius: 4px;
    padding: 15px;
    font-family: NanumPenScript-Regular, FG_virgil, "Segoe UI Historic", "Segoe UI", Helvetica, Arial, sans-serif;
    line-height: 1.1em;
    font-size: 1.5rem;
    // letter-spacing: -1px;
    h3 {
      font-size: 2.25rem;
    }

  }

  .details-panel {
    display: flex;
    flex-direction: column;
    padding: 0 15px;
    border: 1px solid $c-t-gray;
    padding-bottom: 10px;
  }
  
  .dish-summary {
    .summary-heading {
      align-self: center;
    }
    p {
      margin: 0;
    }
  }
  
  .dish-ingredients {
    .ingredient-heading {
      align-self: center;
    }
    .ingredient-list{
      margin: 0;
      list-style: none;
      counter-reset: li;
      li {
        position: relative;
        //margin-bottom: 2px;
      }
      li:before {
        content: counter(li)'.';
        counter-increment: li;
        position: absolute;
        background-color: $c-lblue;//#debc4c;
        border-radius: 50%;
        height: 1.5rem;
        width: 1.5rem;
        color: #fff;
        transform: translateX(-160%);
        // line-height: 21px;
        text-align: center;
        // top: 2px;
        // left: -15px;
      }
    }
  }
}


section.chickenwithbroccollii {
  border: 1px solid black;
}

@media only screen and (max-width: 767px) {
  header {
    font-size: 0.75rem;

    h3 {
      font-size: 1rem;
      margin: auto;
    }
  }
}

