// @import '../../../../styles/variables.scss';

.img-select {
  padding: 1em;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.img-select-heading {
  width: 100%;
  text-align: center;
}

.img-select-btn-container {
  border: 1px solid $c-gray;
  padding: 0.5em;
  width: 100%;
  height: 360px;
}

.img-select-btn {
  display: flex;
  flex-wrap: wrap;
  height: 100%;
  width: 100%;
  padding: 2em 1em 1em 1em;
  background-color: $c-white;
  border: none;
  overflow: hidden;
  position: relative;
  
  &:before {
    content: "";
    position: absolute;
    border: 5px dashed #4B4453;
    top: -2px;
    bottom: -2px;
    left: -2px;
    right: -2px;
  }
  &:hover {
    cursor: pointer;
    background-color: darken($c-lgray, 5%);
  }
  &:focus {
    background-color: darken($c-lgray, 5%);
  }
  &:active {
    background-color: darken($c-lgray, 10%);
    transform: scale(0.99);
  }
}

.img-select-icon {
  width: 100%;
  margin-bottom: 3em;
  text-align: center;
  color: $secondary;
}

.selected-img-thumbnails {
  width: 100%;
  display: flex;
  justify-content: center;
  margin-top: 0.5em;
  // .img-thumbnail {
  //   margin-left: 5px;
  //   margin-right: 5px;
  //   background-color: $c-black;
  //   cursor: pointer;
  //   position: relative;
  //   max-width: 104px;
  //   max-height: 104px;
  //   img {
  //     max-width: 100px;
  //     max-height: 100px;
  //   }
  // }
}

.img-upload-btn-container {
  width: 100%;
}


.upload-btn-wrapper {
  position: relative;
  overflow: hidden;
  display: inline-block;
}

.img-select-btn input[type=file] {
  font-size: 100px;
  position: absolute;
  cursor: pointer;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  opacity: 0;
}