@import '../../styles/variables.scss';

.horizontalBorder{
  width: 100%;
  height: 3px;
  background-image: $secondary-gradiant-lr;
}

.verticalBorder{
  width: 3px;
  height: 100%;
  background-image: $secondary-gradiant-rb;
}