.add-recipie-page{
  color: $c-lblack;
  padding: 0 15px 15px 15px;
  max-width: 700px;
  margin: auto;
  border-top-left-radius: 4px;
  border-top-right-radius: 4px;
  
  .add-recipie-header{
    font-family: NanumPenScript-Regular, FG_virgil, "Segoe UI Historic", "Segoe UI", Helvetica, Arial, sans-serif;
    height: 100px;
    display: flex;
    align-content: center;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
    border-top-left-radius: 4px;
    border-top-right-radius: 4px;
  }

  .add-recipie-body{
    border-top-left-radius: 4px;
    border-top-right-radius: 4px;
    padding: 15px;
    font-family: NanumPenScript-Regular, FG_virgil, "Segoe UI Historic", "Segoe UI", Helvetica, Arial, sans-serif;
    line-height: 1.1em;
    font-size: 1.5rem;
    // letter-spacing: -1px;
    h3 {
      font-size: 2.25rem;
    }

  }

  .details-panel {
    display: flex;
    flex-direction: column;
    padding: 0 15px;
    border: 1px solid $c-t-gray;
    padding-bottom: 10px;
  }

  .form-subgroup {
    display: flex;
    :first-child {
      margin-right: 1rem;
    }
    .btn {
      margin-left: auto;
      white-space: nowrap;
    }
  }
  
  .add-recipie-summary {
    .summary-heading {
      align-self: center;
    }
    p {
      margin: 0;
    }
  }
  
  .add-recipie-ingredients {
    .ingredient-heading {
      align-self: center;
    }
  }

  .step-list {
    padding: 0;
    margin: 0;
    list-style: none;
    counter-reset: li;

    
    li.step-item {
      display: flex;
      align-items: center;
      margin: 5px 0;
      padding: 5px 5px 5px 45px;
      border: 1px solid $c-t-gray;
      position: relative;
    }
    li.step-item:before {
      content: counter(li)'.';
      counter-increment: li;
      position: absolute;
      background-color: $c-lblue;
      border-radius: 50%;
      height: 1.5rem;
      width: 1.5rem;
      color: #fff;
      transform: translateX(-160%);
      text-align: center;
    }
    li.done:before {
      background-color: $success;
    } 
    li.edit:before {
      background-color: $warning;
    } 

    .step-name {
      flex-grow: 1;
    }
    .step-buttons {
      flex-grow: 1;
      margin-left: auto;
      :last-child {
        margin-left: 0.75rem;
      }
    }
    .break {
      flex-basis: 100%;
      width: 0;      
    }
    .step-text {
      padding: 10px;
    }

    .done {
      .delete-btn, .edit-btn {
        display: inline-block;
      }
      .done-btn {
        display: none;
      }
    }
    .edit {
      .done-btn {
        display: inline-block;
      }
      .delete-btn, .edit-btn {
        display: none;
      }
    }
  }
}